* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-size: 20px;
}

table {
    width: 400px;
}

table thead {
    background-color: #CCC;
}

table tbody {
    background-color: #FFFFFF;
    text-align: center;
}

td, th {
    border: 1px solid #FFF;
    padding: 10px;
}

tbody tr:hover {
    background-color: yellow;
}

tbody tr:nth-child(odd) {
    background-color: #2f962f;
}