* {box-sizing: border-box;}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarja { 
    position: absolute;
    margin-top: 30px;
    margin-left: -140px;
    width: 400px;
    height: 70px;
    background-color: cadetblue;
    box-shadow: 1px 1px 10px gray;
    transform: rotate(-45deg);
}

a { 
    display: flex; 
    justify-content: center;
    align-items: center;  
    width: 401px;
    height: 60px;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    text-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 1px black;
    border: 1px solid #FFF
}

