* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-size: 20px;
}

h1 {
    font-family: 'Chilanka';
}

/* No código abaixo, sobre herança, mostra que caso eu não especifique algo para tag "strong", no HTML, será herdada tudas as funções colocada em "container"  */

.container {
    width: calc(100% - 20px);
    height: 200px;
    background-color: #ccc;

    color: #F00;
    font-size: 30px;
    border: 3px solid #0F0;
}

.container strong {
    color: #00F;
    font-size: 20px;
    border: 3px solid #000;
}