* {
    box-sizing: border-box;
}

/* Quando não especificamos o "font-size" no html, por padrão, na maioria dos navegadores, ele equivale a 16px. */

html {
    font-size: 20px;
}

body {
    margin: 30px;
    font-size: 20px;
}

/* 
- "em" se baseia no "font-size" anterior da sua hierarquia. Neste caso, o "h1" o pai dele é o "body".
- 1em equivale o "font-size" determinado.  Neste exemplo, no "h1" o font-size equivale a 60px. Porquê 20x3=60.
*/

h1 {
    font-size: 3em;
    font-family: 'Chilanka';
}

/* 
- Em "box1" o pai ainda continua sendo o "body". 
- 20x2=40.
 */

.box1 {
    font-size: 2em;
}

/* 
- Em "box-interno1" o pai já não é o "body" e sim o "box1".
- Neste caso como o "box1" herdou 40px, "box-interno1" passe a vale 400px.
- No "em" o formato é em cascata.
*/

.box-interno1 {
    width: 10em;
    height: 10em;
    background-color: #999;
}

/* ### END ### */

/* 
- Em "rem" será herdado/responderá sempre o "font-size" do "html" = root.   
*/

h2 {
    font-size: 3rem;
    font-family: 'Chilanka';
}

.box2 {
    font-size: 2rem;
}

.box-interno2 {
    width: 10rem;
    height: 10rem;
    background-color: #999;
}

/* ### END ### */

/* 
- "%" quando usamos porcentagem em um "div" para "width" e "height" devemos atentar que ela sempre pegará, como base, o tamanho da tela diponível.
- Se houver um "div" dentro de outra "div" o espaço que a 2° "div" pegará como base será o espaço diponível da 1° "div".
- "ex" usado para proporcionar "width" e "height" pelo tamanho da letra X. Minúscula.
- "ch" usado para proporcionar "width" e "height" pelo tamanho da letra. Porém, não funciona com todas as fontes.
- viewport = espaço visivel pelo usuário.
- viewport "vh"
- viewport "vw"
- viewport "vmin"
- viewport "vmax"
- "
*/