* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-size: 20px;
}

h1 {
    font-family: 'Indie Flower'; /* 'Indie Flower' é uma fonte externa. Buscada de um link: Google Fonts */
}

p {
    color: #0000FF; /* para cores do texto */
    font-size: 20px; /* para aumentar ou diminuir fonte */
    font-weight: normal; /* para tecto normal, negrito (bold) ... */
    font-family: none; /* para fonte dos texto */
    font-family: 'Chilanka'; /* 'Chilanka' é uma fonte externa. Buscada de um link: Google Fonts */
    text-align: justify; /* para alinhar o texto */
    text-transform: none; /* para MAIÚSCULA, minúsculas ... */
    letter-spacing: 1px; /* para espaçamento de letras */
    word-spacing: 0px; /* para espaçamento de palavras */
    line-height: 25px; /* para espaçamento entre as linhas */
    text-shadow: 2px 2px 3px #FF0000; /* para sombremanto nas palavras do texto */
}

a {
    text-decoration: none; 
} /* text-decoration: para tirar ou decorar o texto linkado  */

a:hover {
    text-decoration: underline;
}