* {
    margin: 0px;
    padding: 0px;
    background-color: grey;
}

body {
    display: flex;   
    justify-content: center;
    flex-direction: column;
}

.bar {
    border-bottom: 2px solid rgba(255, 255, 255, 0.185);
    margin: 20px;
    
}

.photo {
    background-color: #FFF;
    border: 1px solid #000;
       
}

img {
    margin-top: 3px;
    margin-bottom: 20px;
    margin-left: 3px;
    margin-right: 3px;
    width: 400px;
    height: 600px;
}

.description_photo {
    
}

.title,
.photo,
.descriptions {
    align-self: center;
    
}