* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-size: 20px;
    font-family: 'Chilanka';
}

/* 
- - "align-content: ??;" é usado para quando o "flex-wrap: wrap;" está ativado. 
*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-start;
    height: 500px;
    background-color: #DDDDDD;
}

.container div {
    width: 100px;
    height: 100px;
    background-color: #FF0000;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

/* 
- "align-self: ??; (alinhe-se a si mesmo) serve para sobrescrever o "align-items: ??;" do container;
- "order: (-1 , 0 , +1);" serve para especificar a ordem e onde quer colocar sua div/bloco. "0" é o padrão. Negativos serão o primeiro e os positivos os últimos
*/

.div10 {
    align-self: flex-end;
    order: -1;
}

.div14 {
    align-self: flex-end;
    order: -2;
}