* {
    margin: 0px;
    padding: 0px;
    font-family: 'Chilanka';
    background-color: #FFF;
}

.container_banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(115, 115, 115);
}

.banner_logo,
.banner_social {    
    background-color: rgb(115, 115, 115);
}

.logo {
    width: 100px;
    height: 80px;
    background-color: rgb(115, 115, 115);
}

.social {
    margin: 5px;
    width: 20px;
    height: 20px;
    background-color: rgb(115, 115, 115);
}

.container_demonstration {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: darkblue; /* Apagar ou mudar de cor */
}

.iphone {
    width: 570px;
    height: 390px;
    border: 2px solid rgb(115, 115, 115);
    border-radius: 10px;
}

.produto_name,
.produto_description,
.buy {
    margin: 25px;
}

.produto_name {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.produto_description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

.buy {
    font-size: 18px;
    color: #FFF;
    background-color: rgb(115, 115, 115);
    width: 100px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.container_footer {
    color: #000;
    background-color: #00FF00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 30px;
    font-size: 40px;
    font-style: italic;
}

.sub_title {
    margin: 20px;
    font-size: 18px;
    text-align: center;
}

.options_row {
    display: flex;
    justify-content: center;
    background-color: yellow;
}

.options_column {
    display: flex;
}

.icon1,
.icon2,
.icon3 {
    margin: 20px;
    width: 20px;
    height: 20px;
}

