* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-family: "Chilanka";
}

h1, p {
    font-size: 30px;
}

table, td {
    border: 2px solid #000;
}

/* 
- "@media only print" serve para você configurar/mudar algo na visualização quando for imprimir.
*/

@media only print {

    h1 {
        color: #FF0000;
        font-size: 40px;
        font-weight: normal;
    }

    p {
        color: #0000FF;
    }

    table, td {
        border: 1px solid #0F0;
    }

}

/* 
- "@media only screen"
- "@media all"
*/