* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-family: 'Chilanka';
    display: flex;    
}

div {
    width: 150px;
    height: 150px;
    border: 3px solid #000;
}

/* 
- "@media (orientation: landscape)" significa que a tela está na horizontal.
*/

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
}

/* 
- "@media (orientation: portrait)" significa que a tela está na vertical.
*/

@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
}

/* 
- "orientation" se base no espaço disponível para definir "landscape" and "portrait".
*/