/* 
- "root" propriedade para se criar as variáveis que serão usadas no CSS.
*/

:root {
    --bg-color: #000;
    --bg-second: #333;
    --font-family: 'Chilanka';
    --font-color: #FFF;
}

* {
    box-sizing: border-box;
}

/* 
- Perceba abaixo os exemplos de como devemos puxar a váriaveis (var) de "root"
*/

body {
    margin: 30px;
    background-color: var(--bg-color);
}

h1, div {
    font-family: var(--font-family);
    color: var(--font-color);
}

.container {
    background-color: var(--bg-second);
}