* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-size: 20px;
    font-family: 'Chilanka';
}

/* 
- "max(?%, ?px)"
- "min(?%, ?px)" 

- Eu entendi como funciona assistindo a aula, mas não consigo pensar em jeito de transcrever isso. ;(
*/

img {
    width: min(50%, 300px);
}

