* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 20px;
    font-family: 'Chilanka';
}

/* 
- "width: calc()" c alcula os espaços exatos nos elementos para aplicar na página e deixar padrão e responsiva.
*/

.container {
    width: calc(100% - 20px);
    height: 200px;
    background-color: #CCC;
}

