* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-size: 20px;
    font-family: 'Chilanka';
}

form {
    width: 230px;
    height: 175px;
    background-color: #DDD;
    padding: 20px;
    margin-top: 20px;
}

input {
    margin: 5px;
    padding: 5px;
    font-size: 13px;
}