* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-size: 20px;
    font-family: 'Chilanka';
}

div {
    width: 150px;
    height: 150px;
    background-color: #00FF00;

    /* 
    - "transition: 1° 2° 3°;" faz com que todas as mudanças de estilo da página sejam de forma clean. 
    - 1° "all" ...
    - 2° tempo da transição;
    - 3° é colocasdo o estilo.
    */

    transition: all 1s linear;
}

div:hover {
    width: 300px;
    background-color: yellow;
}

a {
    color: #000;
    text-decoration: none;
    transition: all 1s linear;
}

a:hover {
    color: #FF0000;
}