* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-size: 20px;
    font-family: 'Chilanka';
}

figure {
    padding: 5px;
    margin: 0px;
    border: 1px solid #ccc;
}

figcaption {
    background-color: #000;
    color: #FFF;
    padding: 2px;
}

/* 

* 

*/