* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 1px;
    background-color: /* rgb(201, 201, 201);  ao finalizar apagar ou colocar cor branca. */
}

.container_google {
    display: flex;
}

.image_google {
    width: 100px;
    margin: 20px;
}

.input_and_description {
    display: flex;
    flex-direction: column;
}

.input.container {
    position: relative;
}

.icon_teclado {
    position: absolute;
    width: 10px;
    margin-top: 34px;
    margin-left: 600px;
}

.icon_voz {
    position: absolute;
    margin-top: 34px;
    margin-left: 640px;
}

.icon_pesquisar {
    position: absolute;
    margin-top: 34px;
    margin-left: 680px;
}

.icon_image {
    width: 20px;
    height: 20px;
}

input {
    outline: none;
    padding-left: 20px;
    padding-right: 150px;
    width: 530px;
    height: 45px;
    margin: 20px;
    border-radius: 30px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 1px 1px 10px rgb(221, 221, 221);
}

input:hover {
    box-shadow: 1px 1px 10px rgb(200, 200, 200);
}

.input_description {
    display: flex;
    margin-left: 20px;
}


.description1,
.description2,
.description3,
.description4,
.description5,
.description6,
.description7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
    font-size: 14px;
}

.description7 {
    margin-left: 40px;
}

.icon_image_description {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

/* *#*# */

.menu_descripition {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-right: 20px;
}

.icon_banner1 {
    width: 20px;
    height: 20px;
    margin: 15px;
}

.icon_banner2 {
    width: 20px;
    height: 20px;
    margin: 15px;
}

.icon_banner3 {
    width: 30px;
    height: 32px;
    margin: 15px;
    border-radius: 20px;
}

.hover_icon_banner1,
.hover_icon_banner2 {
    width: 50px;
    height: 50px;
}

.hover_icon_banner1:hover,
.hover_icon_banner2:hover {
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
}

/* Footer */

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer_first {
    padding: 1px;
    border-bottom: 1px solid rgb(218, 220, 224);
    background-color: rgb(242, 242, 242);
}

.footer_one {
    display: flex;
    margin: 14px;
    font-size: 14px;
    color: rgb(112, 117, 159);
    background-color: rgb(242, 242, 242); 
}

.country {
    margin-left: 160px;
    margin-right: 10px;
}

.localization {
    margin-left: 20px;
}

.footer_second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    height: 45px;
    background-color: rgb(242, 242, 242);
}

.footer_two {
    display: flex;
    margin: 10px;
    margin-top: 10px;
    margin-left: 165px;
    font-size: 14px;
    color: rgb(112, 117, 159);
    background-color: rgb(242, 242, 242); 
}

.options_footer1 {
    margin: 10px;
    margin-right: 20px;
}