* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 1px;
    border: 1px solid rgb(218, 220, 224);
    margin-bottom: 15px;
    /* background-color:rgb(201, 201, 201); ao finalizar apagar ou colocar cor branca. */
}

.container_google {
    display: flex;
}

.image_google {
    width: 100px;
    margin: 20px;
}

.input_and_description {
    display: flex;
    flex-direction: column;
}

.input.container {
    position: relative;
}

.icon_teclado {
    position: absolute;
    width: 10px;
    margin-top: 34px;
    margin-left: 600px;
}

.icon_voz {
    position: absolute;
    margin-top: 34px;
    margin-left: 640px;
}

.icon_pesquisar {
    position: absolute;
    margin-top: 34px;
    margin-left: 680px;
}

.icon_image {
    width: 20px;
    height: 20px;
}

input {
    outline: none;
    padding-left: 20px;
    padding-right: 150px;
    width: 530px;
    height: 45px;
    margin: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 1px 1px 10px rgb(221, 221, 221);
}

input:hover {
    box-shadow: 1px 1px 10px rgb(200, 200, 200);
}

.input_description {
    display: flex;
    margin-left: 20px;
}

.description1,
.description2,
.description3,
.description4,
.description5,
.description6,
.description7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
    font-size: 14px;
}

.description1 {
    border-bottom: 3PX solid rgb(26, 115, 232);
}

.description7 {
    width: 100px;
    height: 30px;
    margin-left: 30px;
    border: 1px solid #FFF;
}

.description7:hover {
    background-color: rgb(248, 249, 250);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 1px 1px 5px rgb(220, 220, 220);
}

.icon_image_description {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

.menu_descripition {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-right: 20px;
}

.icon_banner1 {
    width: 20px;
    height: 20px;
    margin: 15px;
}

.icon_banner2 {
    width: 20px;
    height: 20px;
    margin: 15px;
}

.icon_banner3 {
    width: 30px;
    height: 32px;
    margin: 15px;
    border-radius: 20px;
}

.hover_icon_banner1,
.hover_icon_banner2 {
    width: 50px;
    height: 50px;
}

.hover_icon_banner1:hover,
.hover_icon_banner2:hover {
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
} 

/* Fim do banner */

.result_list {
    flex: 1;
}

.approximate_result {
    margin-left: 185px;
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

.results {
    margin-left: 185px;
    margin-right: 550px;
    margin-bottom: 30px;
}

.results a {
    text-decoration: none;
}

.site {
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(0, 100, 0);
}

.title_pesquisa{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(0, 0, 160);
}

.title_pesquisa:hover {
    text-decoration: underline;
}

.description_pesquisa {
    font-size: 16px;
    color: gray;
}

/* Fim de "result_list" */




/* Footer */

footer {
    bottom: 0px;
    width: 100%;
}

.footer_first {
    padding: 1px;
    border-bottom: 1px solid rgb(218, 220, 224);
    background-color: rgb(242, 242, 242);
}

.footer_one {
    display: flex;
    margin: 14px;
    font-size: 14px;
    color: rgb(112, 117, 159);
    background-color: rgb(242, 242, 242); 
}

.country {
    margin-left: 160px;
    margin-right: 10px;
}

.localization {
    margin-left: 20px;
}

.footer_second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    height: 45px;
    background-color: rgb(242, 242, 242);
}

.footer_two {
    display: flex;
    margin: 10px;
    margin-top: 10px;
    margin-left: 165px;
    font-size: 14px;
    color: rgb(112, 117, 159);
    background-color: rgb(242, 242, 242); 
}

.options_footer1 {
    margin: 10px;
    margin-right: 20px;
}