* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Primeira Parte */

.banner {
    padding: 1px;
    background-color: #FFF; /* ao finalizar apagar ou colocar cor branca. */
}

.container_banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    margin: 0px;
    padding: 5px;
    background-color: #FFF; /* ao finalizar apagar ou colocar cor branca. */
}

.options_banner {
    margin: 10px;
    margin-left: 15px;
}

a {
    text-decoration: none;
}

.icon_banner1 {
    width: 20px;
    height: 20px;
}

.icon_banner2 {
    width: 30px;
    height: 32px;
    border-radius: 20px;
}

/* Segunda Parte */

.banner_google {
    height: 700px;
    padding: 1px;
    background-color: #FFF; /* ao finalizar apagar ou colocar cor branca. */
}

.container_google {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    height: 600px;
    background-color: #FFF; /* ao finalizar apagar ou colocar cor branca. */
}

.image_google {
    width: 300px;
}

input {
    margin-top: -10px;
    width: 600px;
    height: 45px;
    border-radius: 30px;
    margin-bottom: 50px;
}

button {
    margin: 10px;
    margin-top: -10px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

/* Terceira Parte */

.footer_first {
    padding: 1px;
    border-bottom: 1px solid #BBB;
    background-color: rgb(230, 230, 230);
}

.footer_one {
    display: flex;
    margin: 20px;
    font-size: 20px;
    background-color: rgb(230, 230, 230); 
}

/* Quarta Parte */

.footer_second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    height: 80px;
    background-color: rgb(230, 230, 230);
}

.footer_two {
    display: flex;
    margin: 20px;
    font-size: 20px;
    background-color: rgb(230, 230, 230); 
}

.options_footer1 {
    margin: 10px;
    margin-right: 30px;
}

.footer_three {
    display: flex;
    margin: 20px;
    font-size: 20px;
    background-color: rgb(230, 230, 230);
}

.options_footer2 {
    margin: 10px;
    margin-left: 30px;

}