* {
    font-family: arial;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-self: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a,
nav a:hover {
    background-color: #39AAE1;
    color: #FFF;
    border-radius: 5px;
}

/* *** 1    ° Banner [Meio] *** */

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: #727272;
    font-size: 70px;
    text-shadow: 0px 1px 0px #000;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}    

.banner_headline h2 {
    color: #727272;
    font-size: 21px;
    text-shadow: 0px 1px 0px #000;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #FFF;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc1 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #FFF;
    padding: 5px;
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
}

.banner_desc2 {
    display: flex;
    justify-content: column;
    border-bottom: 1px solid #555;
}

.banner_desc2 div{
    flex: 1;
    font-size: 12px;
    margin: 8px;
    padding: 5px;
    padding-left: 0px;
}

.hourly {
    text-align: right;
}

/* *** 2° Banner [1°] *** */

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background: #2b4c99;
    color: #FFF;
    font-size: 12px;
    padding: 12px;
    margin-right: 2px;
    border-radius: 5px;
}

article .news_comments {
    background: #39aae1;
    color: #FFF;
    font-size: 12px;
    padding: 12px;
    border-radius: 5px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    color: #000000;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
}

article .news_resume {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 30px;
}

/* ** 2° Banner [2°] *** */

.widget_body1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block1 {    
    background-color: #36a9e1;
    width: 150px;
    height: 155px;
    margin-bottom: 30px;
    margin-right: 0px;
}

.block2 {    
    background-color: #36a9e1;
    width: 150px;
    height: 155px;
    margin-bottom: 30px;
    margin-left: 0px;
}

.widget_title2 {
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.widget_title_text2 {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

/* ** 2° Banner [3°] *** */

.desc_contacts, 
.query_options {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 15px; 
    margin-bottom: 40px;
}

.desc_options1,
.desc_options2,
.desc_options3,
.desc_options4 {  
    display: flex;
    align-items: center;
    border-top: 1px solid #bbb;
}

.desc_options2 a {
    color: #5c5c5c;
    text-decoration: none;
}

.query_options img {
    width: 20px;
    height: 18px;
    margin: 10px;
}

/* *** Próximo Banner [Footer]*** */

.flexColumn {
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
}

.footer_menu {
    display: flex;
}

.fm_1, 
.fm_2, 
.fm_3 {
    flex: 1;
    color: #FFF;
    padding: 20px;
}

.footer_menu a {
    color: #FFF;
    text-decoration: none;
}

.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color: #0079c7;
}

.fm_3 {
    background-color: #2b4c99;
}

.fm_title {
    font-size: 20px;
    margin-bottom: 12px;
}

.fm_desc {
    font-size: 12px;
}

.footer_area {
    display: flex;
}

.footer_areaitem {
    flex: 1;
    color: #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
}

.footer_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer_desc {
    color: #7e7e7e;
    font-size: 14px;
    margin-bottom: 30px;
}

.footer_pessoal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #7e7e7e;
    font-size: 14px;
    line-height: 5px;
    margin-bottom: 30px;
}

.footer_contacts {
    align-self: flex-end;
    margin-right: 15px;
    text-align: left;
}

.footer_social {
    display: flex;
}

.footer_social img {
    width: 35px;
    height: 35px;
    margin: 2px;
}

.footer_desc_link a {
    text-decoration: none;
    color: #7e7e7e;
    font-size: 14px;
}

.footer_desc_link a:hover {
    color: rgb(182, 182, 182);
}

.footer_desc_link .years {
    color: #36a9e1;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 30px;
}

.footer_desc_link .link {
    color: rgba(255, 255, 255, 0.664);
}

.footer_desc_link .link:hover {
    color: rgba(255, 0, 0, 0.377);
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    
}

.mm_line {
    height: 3px;
    background-color: #39aae1;
}

/* ***REPOSNSIVIDADE*** */

@media (max-width: 600px) {

    .banner_headline h1 {
        font-size: 55px;
    }

    .banner_headline h2 {
        font-size: 17px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    #geral section,
    #geral aside {
        padding: 20px;
    }

    .footer_menu{
        height: auto;
        flex-direction: column;
    }

    .footer_area{
        flex-direction: column;
        padding: 20px;
    }
    
    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFF;
    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}







