* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-size: 20px;
}

h1, p {
    font-family: 'Chilanka';
}

form {
    width: 230px;
    height: 150px;
    background-color: #DDD;
    padding: 20px;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input {
    margin: 5px;
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px; solid #000;   
}

/* 

* Para Borada Arredondada usamos "border-radius".

* Nesse exemplo poderia se colocador apenas "border-radius: 10px;". Assim todos os cantos ja se aplicariam.
Coloquei os exmplos acima para lembra de como fazer para escolher uma canto caso queira.

* Posso também usar "border-radius: ??px;" para todos os cantos e depois aumentar ou diminuir, um canto específico,com outro valor entre top e bottom.

*/