div:nth-child(2) {
    background-color: red;
}

/* nth-child() é contado de cima para baixo */

div:nth-last-child(2) {
    background-color: green;
}

/* nth-last-child() é contado de baixo para cima */