body {
    background-image: url('../pictures/thewitcher.jpg');
    background-size: cover;
    background-position: initial;
}

div {
    background-color: rgba(255, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}