.scale {
    background-color: red;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
    transform: scale(2, 1);
}

.rotate {
    background-color: red;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
    transform: rotate(180deg);
}

.skew {
    background-color: red;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
    transform: skew(20deg, 5deg);
}