/* * body { border-sizing: borderbox; */

div {
    background-color: red;
    width: 200px;
    height: 200px;
    border: 10px solid green;
    padding: 10px;
    box-sizing: border-box;
}

/* box-sizing: content-box; para anular */