* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-size: 20px;
    font-family: "Chilanka";
}

/* 
- "box-sizing: content-box;" é o padrão quando não é especificado nada;
- "box-sizing: border-box;" é usado para fazer com que "margin e padding seja descontado do tamanho do box.
*/

div {
    background-color: red;
    width: 200px;
    height: 200px;
    border: 10px solid green;
    padding: 10px;
    box-sizing: border-box;
}

