/*  
    *Anotações

    -fr é uma fração. Ela não tem uma largura específica, ela se adapta de acordo com o espaço disponível em "width".
    -É usada apenas no grid.
*/

.container {
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    gap: 10px;
}

.item {
    background-color: blue;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}