.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 10px;
}

/*  Anotações

    grid-template-columns: repeat(3, 100px) é a mesma coisa que:
    grid-template-columns: 10px 100px 100px;

    auto-fill: usado para colocar a maior quantidade possivel do tamanho que selecionou.

*/

.item {
    background-color: blue;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}