.container {    
    background-color: #CCC;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item {
    background-color: blue;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}

/* 
-Perceba que caso eu não use o "SPAN" teria que colocar o número 4 para QUE ele pegasse as 4 colunas 
*/

.item1 {
    grid-column: 1 / span 3; 
}

/* 
-Aqui é mostrado outra maneira, mais fácil, de se usar. Perceba que não usamos "start e end" 
*/

.item3 {
    grid-column: 2 / 4; 

    grid-row: 2 / 5;
}

.item11 {
    background-color: #00FF00;
    color: #000;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 5;
    grid-row-end: 9;
}

/*  
    *Anotações

    -grid-column: para aumenta/diminuir colunas
       
    -grid-row: para aumenta/diminuir linhas
*/